body{
    background-image: url("../images/live-twin-home.png");
}

#container{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    
}
header{
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    background-color: azure;
    border: 10px solid black ;
}
#categories{
    display: none;
    font-size: larger;
}
#main{
    flex: 1;
    height: 100%;
background-color: rgba(103, 188, 230, 0.9);
color: white;
}

#Product{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}